<h1>Welcome to Stargazer {{user.username}}</h1>

<form class="form-apod" action="#" method="post">
  <h3>Search for NASA APOD</h3>

  <div class="form-group row">
  <label for="apodStartDate" class="col-2 col-form-label">Please select a start date</label>
  <div class="col-10">
    <input class="form-control" type="date" value="" id="apodStartDate" name="apodStartDate">
  </div>
</div>

  <div class="form-group row">
  <label for="apodEndDate" class="col-2 col-form-label">Please select an end date</label>
  <div class="col-10">
    <input class="form-control" type="date" value="" id="apodEndDate" name=apodEndDate>
  </div>
</div>

<button class="btn btn-lg btn-primary btn-block" id="searchButton" type="submit">Get APOD</button>
</form>

<ul class="searchResults" id="searchResults">

</ul>
